@model TodoViewModel

@using Humanizer
@{
    ViewData["Title"] = "Organiza tus To-dos, pls.";
}
<div class="panel panel-default todo-panel">
    <div class="panel-heading">@ViewData["Title"]</div>
    @*@using (Html.BeginForm())
        {

            @Html.EditorForModel()
            <br />
            <input type="submit" value="submit" />
        }*@
    <table class="table table-hover">
        <thead>
            <tr>
                <td></td>
                <td>Item</td>
                <td>Due</td>
            </tr>
        </thead>
        @foreach (var item in Model.Items)
        {
            <tr>
                
                <td><!--
                    Aqui el foreach recorerrá y pintara en una linea por elemento los "to-do". El hidden input que tiene
                        los ids es necesario para que el controlador sepa qué caja está marcada.(si no habria que decirle que una caja fue marcada, pero cual?)
                    -->
                    <form asp-action="Markdone" method="post">
                        <input type="checkbox" class="done-checkbox" />
                        <input type="hidden" name="id" value="@item.Id"/>
                    </form>

                </td>
                <td>@item.Title</td>
                <td>@item.DueAt.Humanize()</td>
                
            </tr>
        }
    </table>
    <div class="panel-footer add-item-form">
        @await Html.PartialAsync("AddItemPartial", new TodoItem())
    </div>
</div>